<style type="text/css">
	body{

		background-image:url('https://images8.alphacoders.com/592/592843.jpg');
		background-attachment: fixed;
		background:cover;
	}
</style>
<body>

<h1 style='margin-left:30%;line-height:450px'>Lo sentimos Archivo o Ruta no encontrada</h1>
</body>
