<!doctype html>
<!--[if lte IE 9]>
<html lang="en" class="oldie">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Background Effect</title>
  <link rel="stylesheet" media="all" href="/css/style.css"/>
  <style type="text/css">
    @font-face{
          font-family:'fuente';
          src:url('/fuentes/DS-DIGI.TTF');
        }
        @font-face{
          font-family: 'fuente2';
          src:url('/fuentes/DS-DIGIT.TTF');
        }
    h1{
      color:white;
      text-align: center;
      margin-top: 50px;
      font:5rem 'fuente2';
    }
    #boton{
      display:flex;
      justify-content:center;
      align-items: center;
      height:15vh;
      background: transparent;
      backdrop-filter: blur(6px);
      
    }
    a{
      margin-right: 25px;
      text-decoration: none;
      color:white;
      font: 40px 'fuente2';
    }
    #boton a{
      transition: all 1s;
     
    }
    #boton a:hover{
      text-shadow:9px 7px 3px white;
      transform:translateY(-10px);
    }
    #nombre{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color:white;
        font:2rem 'fuente2';
        margin-top: 30px;
    }
  </style>
</head>
<body>
<div class="lines">

  <div id='boton'>
    <a href='/login'>Admin</a>
    <a href='/loginUsers'>Clientes</a> 
  </div>

  <h1>Bienvenido</h1>
  <div id='nombre'>
    <h2>Julio Infante</h2>
    <p>Cedula : 30.463.583</p>
    <p>Sección : 2</p>
  </div>
</div>
</body>
</html>