*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    body{
                 background-image:url('https://images.pexels.com/photos/4904563/pexels-photo-4904563.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
       
        background-repeat: no-repeat;
        background-position-Y:30rem;
            }
/*ESTILOS DE PLANTILLA*/
  @font-face{
            font-family:'paper';
            src:url('/fuentes/Crimen en Levante.ttf');
           }

           .product{
           display:flex;
           flex-wrap: wrap;
           justify-content:space-around;
           align-items:center;
           margin-bottom:50px;
           }
        .imagen{
            width:100%;
            height:30vh;
            transition:all 1s;
            margin-bottom: 20px;
        }
        .imgContent{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
        .productooo{
            color:white;
           display:flex;
           flex-direction: column;
           justify-content:space-around;
           align-items:center;
           background:rgb(157, 172, 167,.7);
           width:25%;
           height:auto;
           margin-top:80px;
           margin-left:20px;
           border:1px solid grey;
           border-radius:15px 0 15px 0;
        }
        .etiquetaP{
            font-size:1rem;
            font-weight: bold;
        }
        #searchInputt{
            width:75%;
            height:6vh;
            text-align: center;
        }
        #buscarPrincipal{
            width:50%;
            height:6vh;
            text-align: center;  
            border-radius:10px;
        }
        .nocontainer{
                width:60%;
                margin-left:10px;
            }
        #boton2{
            width:30%; 
            height:6vh;
            margin-left:.5rem;
            background:rgb(180, 180, 180);
            border-radius:0 20px 20px 0;
            transition:all 1s;
        }
        #boton2:hover{
            border-radius:20px 0 0 20px;
            transform:scale(1.1);
        }
        #boton3{
            margin-left: 5px;
            margin-top: 2px;
            width:10%; 
            height:6vh;
           background:rgba(0,0,0,.7);
            border-radius: 10px;
            cursor:pointer;
            color:white;
        }
       
        .buscar2{
            display:flex;
            flex-direction: column;
            justify-content: center;
            margin-top:1rem;
        }
        #presentacionInferior{
          background-image:url('https://images.pexels.com/photos/19763382/pexels-photo-19763382/free-photo-of-escaleras-moda-gafas-de-sol-mujer.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
          background-size: cover;
          background-position-Y:70rem ;
          width: 100%;
          height:60vh;
        }
        #divImagenes{
          display:flex;
          width:100%;
          justify-content: center;
          align-items: center;
        }
        .imgGalery{
          width: 100%;
          height:50vh;
        }
        .imgGalery:nth-child(1){
          background-image:url('https://images.pexels.com/photos/1499477/pexels-photo-1499477.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
          background-size: cover;
          background-attachment: fixed;
          background-position-X:-10rem;
        }
        .imgGalery:nth-child(2){
          background-image:url('https://images.pexels.com/photos/9055555/pexels-photo-9055555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
          background-size: cover;
          background-attachment: fixed;
          background-position-X:-12rem;
        }
        .imgGalery:nth-child(3){
          background-image:url('https://images.pexels.com/photos/19761640/pexels-photo-19761640/free-photo-of-resfriado-nieve-moda-gafas-de-sol.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
          background-size: cover;
          background-attachment: fixed;
          background-position-Y:-13rem;

        }
        .imgGalery:nth-child(4){
          background-image:url('https://images.pexels.com/photos/19698847/pexels-photo-19698847/free-photo-of-fantasma-de-halloween.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
          background-size: cover;
          background-position-Y:-35rem ;
          background-position-X:15rem;
          background-attachment: fixed;
        }
        

        
        
        .row-----{
                display:flex;
                justify-content:center;
                align-items: center;
                width: 100%;
            }
             #NPB{ 
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items:center
         }
            .row2{
                display:flex;
                justify-content: center;
                margin: 10px;
                padding:10px;
                width: 70%;
            }
        header{
         display:flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         background-image:url('https://images.pexels.com/photos/343720/pexels-photo-343720.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
         background-size: cover;
         height:100vh;
         border:1px solid black;
        }
         .imagenesVertical{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            width:40%;
            height:100vh;
            color:black;
            font:3rem 'gamer';
        }
         .imagenesVertical:nth-child(1){
            background-image:url('https://images.pexels.com/photos/10568482/pexels-photo-10568482.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            background-size: cover; 
        }
         .imagenesVertical:nth-child(2){
            background-image:url('https://images.pexels.com/photos/4440537/pexels-photo-4440537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            background-size: cover; 
        }
         .imagenesVertical:nth-child(3){
            background-image:url('https://images.pexels.com/photos/10558186/pexels-photo-10558186.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            background-size: cover; 
        }
         .imagenesVertical:nth-child(4){
            background-image:url('https://images.pexels.com/photos/4440535/pexels-photo-4440535.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            background-size: cover; 
        }
         #texto{
         color:white;
         margin-top:1rem;
         padding:1rem;
         margin-bottom:1rem;
         background:rgba(0,0,0,.9);
         width:100%;
         }
         #texto p{
         margin:1.5rem;
         font:1.5rem 'arial';
         }
         h2{
            font:50px 'fuenteC';
            text-align: center;
         }
         .claseIMG{
            width:20%;
            height:40vh;
         }
         #botonP{
          background:rgb(56, 247, 9);
          height:6vh;
          transition:all 1s;
          border-radius:10px;
          margin-left: 20px;
         }
         #botonP:hover{
          transform:translateY(-5px);
          box-shadow:15px 15px 100px black;
         }
         .prueba{
            color:red;
            text-decoration: none;
         }
         /*------------------------------------------------------------*/
              /*------------------Randis Graterol----------------------*/
                      /*--------------------------------------*/
        #na{
            display:flex;
            align-items: center;
            justify-content:flex-end;
            width:40%;
            margin-left:1rem;
        }

        #na ul{
            display: flex;
            justify-content: center;
            align-items: center;
            height:7vh;
            margin-top:1rem;
            margin-right:1rem;
        }
         #na ul a{
         text-decoration:none;
         color:white;
         margin:1rem;
         font:1.5rem 'fuenteC';
         transition:all 1s;
        }
        #na ul a:hover{
         text-decoration-line: underline;
        }

        nav{
            display:flex;
            justify-content:flex-start;
            align-items: center;
            background:rgba(0,0,0,.7);
            height:15vh;
            width: 100%;
            color:white;

        }
        nav #aa{
            margin-left:20px;
            text-decoration: none;
            color:white;
            font:2rem 'fuenteC';
        }
        h1{
           font:5rem 'paper';
        }
        /*#na ul li{
          ???????????
        }*/

         #imggg{
            display:none;
        }

        #na2{
            display:none;
        }

        #styleDiv1{
            width:100%;
            padding:10px;
        }
         #NPB{ 
            display:flex;
            justify-content:center;
            align-items:center
         }
         .comprarDetalles{
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            width:100%;
            padding:1rem;
         }

         a{
            text-decoration: none;

         }
         ul{
            list-style: none;
         }
          
          .cuadriculaLista{
            background:red;
            display:flex;
            flex-direction:column;
            width:100%;
         }

         .table{
         display:none;
         width:90%;
         }
         
         /*Clases generadas con Javascript*/
         .tableTR{
         display:flex;
         font-size:20px;
         margin-top:50px;
         background:rgba(0,0,0,.7);
         color:white;
         }
         .cadaProducto{
         display:none;
         }
         .tableMostrar{
            display:inline-block;
            color:white;
         }
         .column{
            text-align: center;
            
            width:20%;
         }
         /*boton de cuadricula*/
         #botonCuadricula{
            width:5vw;
            background:transparent;
            margin-left:98%;
            border:none;
         }
         .ULtabla3{
            display:none;
         }

         .tableMostrar{
            display:inline-block;
            width:97%;
            background: rgba(0,0,0,.7);
         }
         .clasePadre{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:100%;
         }
         .section{
            width: 100%;
            margin-top: 40px;
         }
         .form-control{
            width:100%;
         }
         .imgCarrito{
            width:100%;
         }
         .botonC{
            width:60%;
            border:none;
            cursor:pointer;
         }
        h2{
          font:3rem 'paper';
          color:white;
        }
        #volver{
          text-decoration:none;
          color:white;
          margin-left:30px;
          font:2rem 'paper';
          color:black;
        }
        #solarH2{
            font-size:1.3rem;
        }
        .estrellas{
          display:flex;
          margin-top: 1rem;
          margin-bottom: 1rem;
         }
         .estrellas img{
          transition: all 1s;
         }
        
         .ordenar{
          display:flex;
          flex-direction:column;
          justify-content:center;
          align-items: center;
         }
         .ordenamiento{
            display:flex;
            justify-content: space-around;
            align-items: center;
            background:rgb(0,0,0);
         }
/*-----------------------------------------------------------*/


/*__________>>__R__>>__A__>>__N__>>__D__>>__I_ >>_S_________*/

           /*-----------RESPONSIVE---------*/

/*-------------Resolucion 720 infinix Smarth 7---------------*/


 /*-----------------------------------------------------------*/
        @media screen and (max-width: 720px){

        *{
            box-sizing: border-box;
            margin:0;
            padding:0;
        }
        body{
            margin:0;
            padding:0;
        }

          nav #aa{
            margin-left:15px;
            text-decoration: none;
            color:white;
            font:20px 'fuenteC';
        } 

        #comprarDetalles{
            display:flex;
            justify-content:center;
            align-items: center;
            width:90%;
         }
        #na ul{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border:1px solid blue;
            height:7vh;
            margin-top:1rem;
            width:50%;
        }
        .LItabla3{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .botonC{
            width:100%;
            border:none;
            cursor:pointer;
         }
        #na{
         text-decoration:none;
         color:white;
         font:10px 'fuenteC';
         transition:all 1s;
        }

         #imggg{
            display:block;
            width:70px;
        }
        #imggg:hover{
        transform: translateY(-5px);
        }

        #na{
          display:none;
        }

        #na2{
            display:block;
            margin-left:60px;
        }
         a{
          text-decoration: none;
          color:black;
         }
        /*----------------------*/
        /*nav responsive*/
          .menu-horizontal{
        border:1px solid red violet;
        list-style:none;
        display:flex;
        justify-content:space-around;
       }
       .imgCarrito{
            width:50%;
         }

       .menu-horizontal li img{
          display:block;
          padding:15px 20px;
          color: white;
          text-decoration:none;
       }
       /*.menu-horizontal*/.li:hover{
        background-color:grey;
       }
       .menu-vertical{
        position: absolute;
        display:none;
        list-style: none;
        width:20%;
        background:rgb(0,0,0,0.7);
        transform:translateX(-60px);
       }
       .menu-horizontal li:hover .menu-vertical{
       display: block;
       }

       .menu-vertical li:hover{
        background: black;
       }
       .menu-vertical li img{
        display: block;
        color:white;
        text-decoration:none;
       }
       .flex{
       display: flex;
      }

      li{
       margin-top: 40px; 
      }
       
       #boton3{
            margin-top: 2px;
            width:25%; 
            height:6vh;
            background:rgb(180, 180, 180);
            border-radius:10px;
            
        }
       
        #styleDiv1{
            display:none;

        }
         #buscarPrincipal{
            height:5.5vh;
            width:60%;
            border-radius:10px;
        }
       
        .productooo{
           display:flex;
           flex-direction: column;
           justify-content:space-around;
           align-items:center;
           width:30%;
           height:40vh;
           margin:1rem;
           margin-top: 100px;
        }
        #NPB{ 
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items:center
         }

          #botonP{
          background:rgb(56, 247, 9);
          transition:all 1s;
          border-radius:10px;
          margin-top:0;
         }
         #botonP:hover{
          transform:translateY(-5px);
          box-shadow:15px 15px 100px black;
         }
         .imagen{
            width:100%;
            height:30vh;
            transition:all 1s;
        }
        
        .imagen:hover{
            transform:scale(1.1);
            box-shadow:14px 15px 100px black;
        }

        .product{
           display:flex;
           justify-content: center;
           align-items: center;
           justify-content:space-around;
           align-items:center;

           }

            #botonCuadricula{
            width:40%;
            background:transparent;
            margin-left:70%;
            border:none;
         }

          .claseIMG{
            width:70%;
            height:30vh;
         }
         .table{
         display:none;
         }

          .cadaProducto{
         display:none;
         }
         
         .tableTR{
         display:flex;
         font-size:5px;
        
         }
        
         /*clases generadas con javaScript*/
         .claseTabla3-JS{
            display:flex;
            flex-direction:column;
            justify-content: space-evenly;
            align-items: center;flex-wrap: wrap;
            width:60%;
            margin-top:50px;
            color:black; 
         }

         h2{
          font:2rem 'paper';
        }
        #volver{
         
          font:1.5rem 'paper';
          
        }
       #solarH2{
        font:1rem 'paper';
       }

        }